
.vs/
.idea/
#Frontend/
/Backend/.phpunit.result.cache
#/Backend/database/migrations
/Backend/.rnd

/.vs/projektMunka/FileContentIndex/23892af9-c329-47df-a037-8749667fea21.vsidx
/.vs/projektMunka/FileContentIndex/6704d149-6087-4ba7-9e59-fb6825bb43d8.vsidx
/.vs/projektMunka/FileContentIndex/06dba206-cf37-4b53-8bf2-62d0e63eed1f.vsidx
/.vs/projektMunka/FileContentIndex/c46e1080-dcde-4040-a2df-cdc6aad1a4ee.vsidx
/.vs/projektMunka/FileContentIndex/1ab62aca-6f65-4ed6-a949-aaa9b7eb156c.vsidx
/.vs/projektMunka/v17/.wsuo
/.vs/projektMunka/FileContentIndex/ccd45301-1794-4139-ae79-4180a062d396.vsidx
/.vs/projektMunka/FileContentIndex/90fa4d8d-54cf-4dc5-8eae-5cf024d01b20.vsidx
/.vs/slnx.sqlite
/.vs/projektMunka/FileContentIndex/984a4597-313f-4f3f-b523-b18da5a0787c.vsidx
/.vs/projektMunka/FileContentIndex/09a2aa45-2807-4582-8f6c-5bb49d782952.vsidx
/.vs/projektMunka/FileContentIndex
/.vs/slnx.sqlite
/.vs/projektMunka/FileContentIndex/6704d149-6087-4ba7-9e59-fb6825bb43d8.vsidx
/.vs/projektMunka/v17/.wsuo
/.vs/VSWorkspaceState.json
