<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--http://localhost:8000/api/menuAll"-->
		<add key="endpointUrlMenu" value="http://localhost:8000/api/menu-all" /> <!-- mockurl: https://mocki.io/v1/dde4edd2-0771-4adb-a4fc-8173e9f6ffa4 -->
		<add key="endpointUrlIngreditents" value="http://localhost:8000/api/ingredients-all" /><!-- mockurl:https://mocki.io/v1/87f55f6d-facd-4bbf-859b-876522516474 -->
		<add key="endpointUrlIngreditentById" value="http://localhost:8000/api/ingredients" />
		<add key="endpointUrlLogin" value="http://localhost:8000/api/login" />
		<add key="endpointUrlLogout" value="http://localhost:8000/api/logout" />
		<add key="endpointUrlUsers" value="http://localhost:8000/api/user-all" />
		
	</appSettings>	
</configuration>