<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--http://localhost:8000/api/menu"-->
		<add key="endpointUrl" value="https://mocki.io/v1/dde4edd2-0771-4adb-a4fc-8173e9f6ffa4" />
	</appSettings>
	
</configuration>